@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 992px) {
    .close span:before {
        background: #fff;
    }

    .navbar-toggle {
        display: block;
        position: relative;
    }

    .header_section header {
        position: relative;
    }

    .header_section header .menu {
        position: absolute;
        top: -25px;
        z-index: 1001;
        background: #60E4C7;
        border-radius: 10px 0 0 10px;
        width: 50vw;
        height: 50vh;
        right: -100%;
        transition: 1s;
    }

    .header_section header .active .menu {
        transition: 1s;
        right: calc(-4px - 5%);
    }

    .header_section header .head_menu .menu li {
        display: block;
    }

    .header_section header .head_menu .menu li a {
        color: white;
        padding: 20px;
        width: 100%;
        display: block;
    }

    .header_section {
        overflow-x: hidden;
    }

}

@media screen and (max-width: 992px) {
    .header_section br {
        display: none;
    }

    .slide_content {
        text-align: center;
    }

    .header_section .header_slider .fade .slide .slide_img img {
        width: 100px;
    }

    .header_section .header_slider .fade .slide {
        flex-direction: column-reverse;
    }

    .header_section .header_slider .fade .slide .slide_content .connect_button {
        justify-content: center;
    }

    .block_wrap {
        flex-direction: column;
    }

    .block_wrap .block_img img {
        width: 150px;
    }

    .block_wrap .block_img, .block_wrap .block_info {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 560px) {

}

@media screen and (max-width: 480px) {

}
