@media screen and (max-width: 1140px) {
    .main_screen .personal_account_wrap .user_tariff {
        margin-top: 30px;
    }

    .about_infoSection .about_info_wrap .about_info_item {
        margin-top: 50px;
    }
}

@media screen and (max-width: 992px) {

    .close span:before {
        background: #fff;
    }

    .navbar-toggle {
        display: block;
        position: relative;

    }
    .navbar-toggle.close{
        position: fixed;
        z-index: 2000;
        top: 37px;
        right: 70px;
    }
    .header_section header {
        position: relative;
        min-height: 76px;
    }

    .header_section header .menu {
        position: fixed;
        top: 0;
        z-index: 1001;
        background: #60E4C7;
        border-radius: 10px 0 0 10px;
        width: 50vw;
        height: auto;
        right: -120%;
        transition: 1s;
    }

    .header_section header .active .menu {
        transition: 1s;
        right: calc(-4px - 5%);
        padding-top: 100px;
    }

    .header_section header .head_menu .menu li {
        display: block;
    }

    .header_section header .head_menu .menu li a {
        color: white;
        padding: 20px;
        width: 100%;
        display: block;
    }

    .header_section {
        overflow-x: hidden;
    }

    .about_section .about_wrap .about_information p {
        font-size: 18px;
    }


}

@media screen and (max-width: 900px) {
    .container {
        width: 95%;
    }

    .header_section br {
        display: none;
    }

    .slide_content {
        text-align: center;
    }

    .header_section .header_slider .fade .slide .slide_img img {
        width: 100px;
    }

    .header_section .header_slider .fade .slide {
        flex-direction: column-reverse;
    }

    .header_section .header_slider .fade .slide .slide_content .connect_button {
        justify-content: center;
    }

    .block_wrap {
        flex-direction: column;
    }

    .block_wrap .block_img img {
        width: 150px;
    }

    .block_wrap .block_img, .block_wrap .block_info {
        width: 100%;
    }

    .mission_section .mission_wrap {
        flex-direction: column-reverse;
        align-items: center;
    }

    .mission_section .mission_wrap .mission_img {
        text-align: center;
    }

    .mission_section .mission_wrap .mission_img img {
        width: 30%;
    }

    .tariff_wrap .tariff_item {
        width: 80%;
    }

    .main_screen .form_wrap form .tel_input {
        margin-left: 0;
    }

    .main_screen .form_wrap form .name_input, .main_screen .form_wrap form .tel_input {
        width: 100%;
        display: block;
    }

    .contact_section .contact_wrap {
        flex-direction: column;
    }

    .info_description {
        flex-basis: 50%;
        margin-bottom: 50px;
    }

    .contact_section .contact_wrap .contact_information {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .about_section .about_wrap {
        flex-direction: column-reverse;
    }

    .about_section .about_wrap .about_image img {
        width: 50%;
    }

    .about_section .about_wrap .about_image {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .mission_section .mission_wrap .mission_img img {
        width: 50%;
    }
}


@media screen and (max-width: 560px) {
    .form_wrap form {
        width: 100%;
    }

    .mission_section .mission_wrap .mission_text p {
        font-size: 18px;
    }

    .section_head h2 {
        font-size: 28px;
    }

    .header_section header .menu {
        width: 100vw;
    }

    .header_section header .head_menu .menu li {
        width: 60%;
    }

    .personal_account {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 680px) {
    .cabinet_wrap {
        flex-direction: column;
    }

    .main_screen {
        width: 100%;
        padding: 0;
    }

    .main_screen .tariff_wrap .tariff_item {
        width: 90%;
    }

    .main_screen .personal_account_wrap .personal_account, .main_screen .personal_account_wrap .address_user, .main_screen .personal_account_wrap .status {
        width: 90%;
        margin: auto;
    }

    .form_inner_item button {
        padding: 15px;
    }

    .personal_information {
        width: 100%;
    }

    .main_screen .personal_account_wrap .personal_account {
        margin-bottom: 30px;
    }

}


@media screen and (max-width: 480px) {
    .tariff_wrap .tariff_item {
        width: 95%;
        min-height: auto;
        min-width: auto;
    }
}
