@mixin flex($justify,$direction:row) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
  flex-wrap: wrap;
}

@mixin font($size,$weight:400) {
  font-size: $size;
  font-weight: $weight;
  color: black;
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
  background-size: cover;
  background-repeat: no-repeat;
}
