@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  line-height: 1.5;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.button {
  background: #60E4C7;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 400;
  color: black;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 20px 0 #00000026;
  transition: 0.5s;
}
.button:hover {
  filter: brightness(0.9);
}

.block_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.block_wrap .block_info {
  width: 50%;
}
.block_wrap .block_info p {
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-align: right;
}
.block_wrap .block_img {
  width: 50%;
  text-align: center;
}
.block_wrap .block_img img {
  width: 400px;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li button {
  line-height: 0;
  font-size: 0;
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%;
  margin: 0 5px;
}

.slick-dots li button:before {
  content: "";
}

.slick-active button {
  box-shadow: 0 0 10px 0 #00000040;
  background: #60E4C7 !important;
}

.slick-prev, .slick-next {
  position: absolute;
  font-size: 0;
  background: none;
  top: 50%;
  width: 15px;
  height: 15px;
  border-right: 2px solid black;
  border-top: 2px solid black;
  cursor: pointer;
  z-index: 1000;
}

.slick-prev {
  transform: rotate(225deg);
}

.slick-next {
  transform: rotate(45deg);
  right: 0;
}

.section_head {
  padding: 50px 0;
}
.section_head h2 {
  font-size: 40px;
  font-weight: 500;
  color: black;
  text-align: center;
}

.header_section {
  padding: 25px 0;
}
.header_section header {
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 0 20px 10px #0000001A;
  border-radius: 20px;
}
.header_section header .logo {
  font-size: 0;
}
.header_section header .logo img {
  width: 130px;
}
.header_section header .head_menu .menu li {
  display: inline-block;
  margin: 0 15px;
  position: relative;
}
.header_section header .head_menu .menu li:before {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1px;
  background: #000;
  width: 0;
  transition: 1s;
  bottom: -1px;
}
.header_section header .head_menu .menu li:hover:before {
  width: 100%;
}
.header_section header .head_menu .menu li a {
  font-size: 17px;
  font-weight: 400;
  color: black;
}
.header_section .header_slider .fade {
  position: relative;
  padding: 100px 0 50px;
}
.header_section .header_slider .fade .slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.header_section .header_slider .fade .slide .slide_content h2 {
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.header_section .header_slider .fade .slide .slide_content .connect_button {
  margin-top: 30px;
  display: flex;
}
.header_section .header_slider .fade .slide .slide_img img {
  width: 400px;
}

.tariff_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.tariff_wrap .tariff_item {
  box-shadow: 0 0 20px 0 #00000040;
  border-radius: 25px;
  min-width: 350px;
  width: 400px;
  overflow: hidden;
  margin-bottom: 50px;
}
.tariff_wrap .tariff_item .item_header {
  background: #60E4C7;
  padding: 15px;
  text-align: center;
}
.tariff_wrap .tariff_item .item_header img {
  width: 80px;
}
.tariff_wrap .tariff_item .item_header p {
  font-size: 15px;
  font-weight: 400;
  color: black;
}
.tariff_wrap .tariff_item .item_body {
  height: 200px;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}
.tariff_wrap .tariff_item .item_body p {
  font-size: 13px;
  font-weight: 400;
  color: black;
  margin-bottom: 10px;
  text-align: center;
}
.tariff_wrap .tariff_item .item_button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-end;
  position: relative;
  width: 100%;
  transition: 0.5s;
}
.tariff_wrap .tariff_item .item_button:before {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1px;
  background: #000;
  width: 65%;
  top: 0;
}
.tariff_wrap .tariff_item .item_button:hover {
  transform: scale(1.1);
}
.tariff_wrap .tariff_item .item_button a {
  font-size: 17px;
  font-weight: 400;
  color: black;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.mission_section .mission_wrap {
  display: flex;
  align-items: center;
}
.mission_section .mission_wrap .mission_text, .mission_section .mission_wrap .mission_img {
  flex-basis: 50%;
}
.mission_section .mission_wrap .mission_text p {
  font-size: 22px;
}
.mission_section .mission_wrap .mission_img img {
  width: 100%;
}

.main_form {
  padding: 60px 0;
}

.form_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.form_wrap form {
  width: 400px;
}
.form_wrap form label, .form_wrap form input {
  display: block;
}
.form_wrap form label {
  margin-left: 30px;
  font-size: 13px;
}
.form_wrap form input {
  border: 1px solid black;
  width: 100%;
  border-radius: 15px;
  font-size: 20px;
  padding: 5px 15px;
  margin-bottom: 15px;
}
.form_wrap form .connect_button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

footer {
  padding: 100px;
  background: #60E4C7;
}

.active_menu {
  border-bottom: 1px solid black;
}

.contact_section .contact_wrap {
  display: flex;
}
.contact_section .contact_wrap .contact_information, .contact_section .contact_wrap .map {
  flex-basis: 50%;
}
.contact_section .contact_wrap .contact_information {
  justify-self: center;
}
.contact_section .contact_wrap .contact_information h2 {
  font-size: 25px;
  font-weight: 700;
  color: black;
  margin-bottom: 15px;
}
.contact_section .contact_wrap .contact_information p {
  margin-bottom: 15px;
  font-size: 20px;
}
.contact_section .contact_wrap .contact_information a {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  color: black;
  color: #3C8AFF;
}
.contact_section .contact_wrap .map iframe {
  width: 100%;
  height: 550px;
}

.about_section .about_wrap {
  display: flex;
}
.about_section .about_wrap .about_information, .about_section .about_wrap .about_image {
  flex-basis: 50%;
}
.about_section .about_wrap .about_information {
  align-self: center;
}
.about_section .about_wrap .about_information p {
  font-size: 23px;
  font-weight: 400;
  color: black;
}
.about_section .about_wrap .about_image img {
  width: 90%;
}

.about_infoSection {
  padding-bottom: 60px;
}
.about_infoSection .about_info_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.about_infoSection .about_info_wrap .about_info_item {
  width: 410px;
  max-height: 450px;
  height: 450px;
  padding: 40px 25px;
  border-radius: 35px;
  box-shadow: 0 0 20px 0 #00000040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.about_infoSection .about_info_wrap .about_info_item .item_img {
  border-radius: 50%;
  background: #60E4C7;
  width: 190px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.about_infoSection .about_info_wrap .about_info_item .about_info_description h2 {
  text-align: center;
  margin-bottom: 15px;
}
.about_infoSection .about_info_wrap .about_info_item .about_info_description p {
  text-align: center;
  font-size: 17px;
}

.main_news .news_date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-right: 20px;
}
.main_news .news_date span {
  border-bottom: 1px solid black;
}
.main_news .news_date span:nth-child(1) {
  padding-right: 10px;
}
.main_news .news {
  margin-bottom: 40px;
}
.main_news .news .news_head {
  border: 1px solid black;
  padding: 28px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 700;
  color: black;
}
.main_news .news .news_body {
  margin-top: 20px;
}

.sidebar {
  display: inline-block;
}
.sidebar .sidebar_menu .active_sidebar {
  background: #60E4C7;
}
.sidebar .sidebar_menu ul li {
  transition: 0.5s;
  margin-bottom: 15px;
  border-radius: 18px;
}
.sidebar .sidebar_menu ul li:hover {
  background: #60E4C7;
}
.sidebar .sidebar_menu ul li a {
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-left: 70px;
  position: relative;
  display: block;
  padding: 15px;
}
.sidebar .sidebar_menu ul li .condition:before {
  background: url("../images/condition.png");
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: 15px;
  left: -50px;
}
.sidebar .sidebar_menu ul li .payment:before {
  background: url("../images/payment.png");
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: 15px;
  left: -50px;
}
.sidebar .sidebar_menu ul li .tariff:before {
  background: url("../images/tarif.png");
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: 15px;
  left: -50px;
}
.sidebar .sidebar_menu ul li .profile:before {
  background: url("../images/profile.png");
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: 15px;
  left: -50px;
}
.sidebar .sidebar_menu ul li .support:before {
  background: url("../images/support.png");
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: 15px;
  left: -50px;
}

.cabinet_wrap {
  display: flex;
}

.main_screen {
  display: flex;
  padding-left: 50px;
  width: 80%;
  flex-direction: column;
}
.main_screen .personal_account_wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}
.main_screen .personal_account_wrap .personal_account, .main_screen .personal_account_wrap .address_user, .main_screen .personal_account_wrap .status {
  max-width: 356px;
  width: 356px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 20px;
  font-size: 19px;
  font-weight: 500;
  color: black;
  max-height: 85px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_screen .personal_account_wrap .personal_account p:nth-child(2) {
  font-size: 15px;
  font-weight: 400;
  color: black;
}

.form_inner_item {
  margin-top: 30px;
}
.form_inner_item input {
  background: #F2F2F2;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  color: black;
  color: #6D6A6A;
  border-radius: 8px;
  max-width: 252px;
  width: 252px;
}
.form_inner_item label {
  font-size: 25px;
  font-weight: 700;
  color: black;
}
.form_inner_item p {
  font-size: 14px;
  font-weight: 700;
  color: black;
  color: #6D6A6A;
  margin-bottom: 10px;
}
.form_inner_item button {
  background: none;
  font-size: 14px;
  color: #3C8AFF;
  margin-left: 15px;
  cursor: pointer;
}

.main_screen .tariff_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.main_screen .tariff_wrap .tariff_item {
  box-shadow: 0 0 20px 0 #00000040;
  border-radius: 25px;
  width: 275px;
  min-width: auto;
  overflow: hidden;
  margin-bottom: 50px;
}
.main_screen .tariff_wrap .tariff_item .item_header {
  background: #60E4C7;
  padding: 15px;
  text-align: center;
}
.main_screen .tariff_wrap .tariff_item .item_header img {
  width: 80px;
}
.main_screen .tariff_wrap .tariff_item .item_header p {
  font-size: 15px;
  font-weight: 400;
  color: black;
}
.main_screen .tariff_wrap .tariff_item .item_body {
  height: 200px;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}
.main_screen .tariff_wrap .tariff_item .item_body p {
  font-size: 13px;
  font-weight: 400;
  color: black;
  margin-bottom: 10px;
  text-align: center;
}
.main_screen .tariff_wrap .tariff_item .item_button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-end;
  position: relative;
  width: 100%;
  transition: 0.5s;
}
.main_screen .tariff_wrap .tariff_item .item_button:before {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1px;
  background: #000;
  width: 65%;
  top: 0;
}
.main_screen .tariff_wrap .tariff_item .item_button:hover {
  transform: scale(1.1);
}
.main_screen .tariff_wrap .tariff_item .item_button a {
  font-size: 17px;
  font-weight: 400;
  color: black;
  text-align: center;
  width: 100%;
  padding: 10px;
}

.main_screen .form_wrap {
  margin-top: 50px;
}
.main_screen .form_wrap form {
  width: 100%;
}
.main_screen .form_wrap form .name_input, .main_screen .form_wrap form .tel_input {
  display: inline-block;
}
.main_screen .form_wrap form .tel_input {
  margin-left: 30px;
}

.main_screen .personal_account_wrap .status {
  margin-top: 30px;
  flex-direction: row;
}
.main_screen .personal_account_wrap .status img {
  margin-right: 10px;
}
.main_screen .personal_account_wrap .balance {
  padding: 15px;
  border-radius: 20px;
  font-size: 19px;
  font-weight: 500;
  color: black;
  box-shadow: 0 0 20px 0 #00000040;
  margin-top: 30px;
}
.main_screen .personal_account_wrap .balance .balance_header {
  display: flex;
  align-items: center;
}
.main_screen .personal_account_wrap .balance .balance_header span {
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-left: 20px;
  position: relative;
}
.main_screen .personal_account_wrap .balance .balance_header span:before {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 150px;
  height: 1px;
  background: #6D6A6A;
  bottom: -15px;
  left: -60px;
}
.main_screen .personal_account_wrap .balance .balance_header hr {
  margin-bottom: 20px;
}
.main_screen .personal_account_wrap .balance .balance_status {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-left: 10px;
  justify-content: space-between;
}
.main_screen .personal_account_wrap .balance .balance_status p {
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.main_screen .personal_account_wrap .balance .balance_status .balance_status_date p {
  font-size: 15px;
  font-weight: 400;
  color: black;
  color: #6D6A6A;
  text-align: right;
  margin: 0;
}
.main_screen .personal_account_wrap .user_tariff {
  max-width: 356px;
  width: 356px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 20px;
}
.main_screen .personal_account_wrap .user_tariff .balance_header {
  font-size: 19px;
  font-weight: 400;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.main_screen .personal_account_wrap .user_tariff .balance_header:before {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 1px;
  background: #6D6A6A;
  bottom: -4px;
  left: 18px;
}

.main_tariff {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
}
.main_tariff .tariff_info {
  margin-left: 15px;
  margin-bottom: 20px;
}
.main_tariff .tariff_info .tariff_name {
  font-size: 15px;
  font-weight: 400;
  color: black;
}
.main_tariff .tariff_info .internet_speed {
  font-size: 14px;
  font-weight: 400;
  color: black;
  color: #6D6A6A;
}

.gallery_item {
  margin-bottom: 50px;
}

.gallery_prev_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery_prev_img a {
  width: 32%;
}
.gallery_prev_img img {
  width: 100%;
  max-height: 480px;
  transition: 0.5s;
}
.gallery_prev_img img:hover {
  transform: scale(1.01);
}

.more_btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.more_btn a {
  position: relative;
  font-size: 20px;
  color: black;
  transition: 0.5s;
}
.more_btn a:before {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  bottom: 6px;
  right: -20px;
  transform: rotate(-45deg);
}
.more_btn a:after {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  height: 2px;
  width: 0;
  background: #000;
  bottom: -2px;
  transition: 0.5s;
}
.more_btn a:hover:after {
  width: 100%;
}

.navbar-toggle {
  display: none;
  width: 45px;
  height: 40px;
  background: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s;
  z-index: 10000;
}
.navbar-toggle span {
  position: relative;
  background: #000;
  transition: 0.5s;
}
.navbar-toggle span:before {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 45px;
  height: 5px;
  background: #000;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.1s;
}
.navbar-toggle span:nth-child(1):before {
  top: -12px;
}
.navbar-toggle span:nth-child(2):before {
  top: 0;
  transition: 1s;
}
.navbar-toggle span:nth-child(3):before {
  top: 12px;
}

.close span {
  background: #fff;

}
.close span:nth-child(1):before {
  top: -50%;
  transform: rotate(45deg);
}
.close span:nth-child(2):before {
  display: none;
}
.close span:nth-child(3):before {
  top: 50%;
  transform: rotate(-45deg);
}

/*# sourceMappingURL=style.css.map */
